---
title: Publications
permalink: /publications/
---
<!DOCTYPE html>
<html>
{% include head.html %}

	<body style="background:url(/img/sequoia.jpg); background-size:cover; background-repeat:no-repeat; background-attachment: fixed; background-position:50% 50%">
		{% include header.html %}
		<section class = "container content-section text-left" style="padding-top:0; height:100%">
	    <div class = "row" style="height:100%">
					<div class = "col-lg-10 col-lg-offset-1" style="background-color:rgba(255,255,255,0.2); font-weight:normal; padding-top:0; height:100%">
            <br />
            <br />
            <h1 align="center">Publications</h1>
            <br />
            <div stye="height:100%">
            <ul>
              <li style="margin-bottom:1em"><a href="http://www.ncbi.nlm.nih.gov/pubmed/24712459" style="color:#008">
                T. L. Ai, <b>B. D. Solomon</b>, and C.-S. Hsieh, “T-cell selection and intestinal homeostasis.,” <u>Immunol. Rev.</u>, vol. 259, no. 1, pp. 60–74, May 2014.</a></li>
              <li style="margin-bottom:1em"><a href="http://www.ncbi.nlm.nih.gov/pubmed/24424413" style="color:#008">
                W.-L. Lo, <b>B. D. Solomon</b>, D. L. Donermeyer, C.-S. Hsieh, and P. M. Allen, “T cell immunodominance is dictated by the positively selecting self-peptide.,” <u>Elife</u>, vol. 3, p. e01457, Jan. 2014.</a></li>
              <li style="margin-bottom:1em"><a href="http://www.ncbi.nlm.nih.gov/pubmed/25015825" style="color:#008">
                P. P. Ni, <b>B. Solomon</b>, C.-S. Hsieh, P. M. Allen, and G. P. Morris, “The Ability To Rearrange Dual TCRs Enhances Positive Selection, Leading to Increased Allo- and Autoreactive T Cell Repertoires.,” <u>J. Immunol.</u>, vol. 193, no. 4, pp. 1778–86, 2014.</a></li>
              <li style="margin-bottom:1em"><a href="http://www.ncbi.nlm.nih.gov/pubmed/21245328" style="color:#008">
                <b>B. D. Solomon</b>, C. Mueller, W.-J. Chae, L. M. Alabanza, and M. S. Bynoe, “Neuropilin-1 attenuates autoreactivity in experimental autoimmune encephalomyelitis.,” <u>Proc. Natl. Acad. Sci. U. S. A.</u>, vol. 108, no. 5, pp. 2040–5, Feb. 2011.</a></li>
              <li style="margin-bottom:1em"><a href="http://www.ncbi.nlm.nih.gov/pubmed/19578362" style="color:#008">
                B. U. Schraml, K. Hildner, W. Ise, W.-L. Lee, W. a-E. Smith, <b>B. Solomon</b>, G. Sahota, J. Sim, R. Mukasa, S. Cemerski, R. D. Hatton, G. D. Stormo, C. T. Weaver, J. H. Russell, T. L. Murphy, and K. M. Murphy, “The AP-1 transcription factor Batf controls T(H)17 differentiation.,” <u>Nature</u>, vol. 460, no. 7253, pp. 405–9, Jul. 2009.</a></li>
              <li style="margin-bottom:1em"><a href="http://www.ncbi.nlm.nih.gov/pubmed/19001140" style="color:#008">
                W. T. Watford, B. D. Hissong, L. R. Durant, H. Yamane, L. M. Muul, Y. Kanno, C. M. Tato, H. L. Ramos, A. E. Berger, L. Mielke, M. Pesu, <b>B. Solomon</b>, D. M. Frucht, W. E. Paul, A. Sher, D. Jankovic, P. N. Tsichlis, and J. J. O’Shea, “Tpl2 kinase regulates T cell interferon-gamma production and host resistance to Toxoplasma gondii.,” <u>J. Exp. Med.</u>, vol. 205, no. 12, pp. 2803–12, Nov. 2008.</a></li>
            </ul>
          </div>
			</div>
    </section>
	</body>
</html>


<!--
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <ul>
        <li style="margin-bottom:0.5em">T. L. Ai, <b>B. D. Solomon</b>, and C.-S. Hsieh, “T-cell selection and intestinal homeostasis.,” <u>Immunol. Rev.</u>, vol. 259, no. 1, pp. 60–74, May 2014.
        <li style="margin-bottom:0.5em">W.-L. Lo, <b>B. D. Solomon</b>, D. L. Donermeyer, C.-S. Hsieh, and P. M. Allen, “T cell immunodominance is dictated by the positively selecting self-peptide.,” <u>Elife</u>, vol. 3, p. e01457, Jan. 2014.</li>
        <li style="margin-bottom:0.5em">P. P. Ni, <b>B. Solomon</b>, C.-S. Hsieh, P. M. Allen, and G. P. Morris, “The Ability To Rearrange Dual TCRs Enhances Positive Selection, Leading to Increased Allo- and Autoreactive T Cell Repertoires.,” <u>J. Immunol.</u>, vol. 193, no. 4, pp. 1778–86, 2014.</li>
        <li style="margin-bottom:0.5em"><b>B. D. Solomon</b>, C. Mueller, W.-J. Chae, L. M. Alabanza, and M. S. Bynoe, “Neuropilin-1 attenuates autoreactivity in experimental autoimmune encephalomyelitis.,” <u>Proc. Natl. Acad. Sci. U. S. A.</u>, vol. 108, no. 5, pp. 2040–5, Feb. 2011.</li>
        <li style="margin-bottom:0.5em">B. U. Schraml, K. Hildner, W. Ise, W.-L. Lee, W. a-E. Smith, <b>B. Solomon</b>, G. Sahota, J. Sim, R. Mukasa, S. Cemerski, R. D. Hatton, G. D. Stormo, C. T. Weaver, J. H. Russell, T. L. Murphy, and K. M. Murphy, “The AP-1 transcription factor Batf controls T(H)17 differentiation.,” <u>Nature</u>, vol. 460, no. 7253, pp. 405–9, Jul. 2009.</li>
        <li style="margin-bottom:0.5em">W. T. Watford, B. D. Hissong, L. R. Durant, H. Yamane, L. M. Muul, Y. Kanno, C. M. Tato, H. L. Ramos, A. E. Berger, L. Mielke, M. Pesu, <b>B. Solomon</b>, D. M. Frucht, W. E. Paul, A. Sher, D. Jankovic, P. N. Tsichlis, and J. J. O’Shea, “Tpl2 kinase regulates T cell interferon-gamma production and host resistance to Toxoplasma gondii.,” <u>J. Exp. Med.</u>, vol. 205, no. 12, pp. 2803–12, Nov. 2008.</li>
    </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
-->
